.contentListEmployees {
  width: 80%;
  height: auto;
  margin: 0 auto;
  border-radius: 1em;
  border: 2px solid var(--text-100, #2a153b);
}

.headerListEmployees {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-block: 1.7rem 1.3rem;
  margin-inline: 2.2rem;
  column-gap: 5%;
}
.headerListEmployees .title {
  color: var(--text-100, #2a153b);
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  column-gap: 1rem;
  margin-bottom: 1rem;
}
.headerListEmployees .title h3 {
  text-align: left;
}
.headerListEmployees section {
  display: flex;
  align-items: center;
  column-gap: 20px;
  flex-grow: 1;
}
.ListEmployees hr {
  height: 2px;
  width: 95%;
  background: var(--text-100, #2a153b);
  margin: 0 auto;
  opacity: 100%;
}
.searchEmployee {
  height: 2em;

  display: flex;
  align-items: center;
  padding-inline: 5px;
  padding-block: 17px;

  border-radius: 15px;
  border: 1px solid var(--primary-dark);
  outline: 0;

  flex-grow: 2;
  flex-shrink: 1;
  flex-basis: 250px;
}
.searchEmployee input {
  height: 90%;
  border: none;
}
.labelCheckboxes {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: 1.3em;
}

.labelCheckbox {
  flex-direction: column;
}
div.divCheckboxes {
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  row-gap: 10px;
  column-gap: 1.8rem;

  flex-grow: 0.5;
  flex-shrink: 1;
  flex-basis: 200px;
}
.inputCheckbox + label:before {
  margin-right: 0.5rem;
}

.ListEmployeesTable {
  padding-inline: 2.25rem;
  padding-top: 1rem;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: separate;
}

thead th {
  padding: 0.7rem;
  padding-bottom: 1.8rem;
  text-align: left !important;
  font-weight: bold;
}

thead th:first-child {
  padding-left: 1.75rem;
}

tbody td {
  text-wrap: nowrap;
  padding-block: 0.55rem;
  padding-inline: 0.7rem;
  background-color: var(--text-20);

  color: var(--text-100);
  text-align: left;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; 
}
table {
  border-spacing: 0 0.6rem;
}

tbody tr td:first-child {
  border-radius: 1rem 0 0 1rem;
  padding-left: 1.75rem;
}

tbody tr td:last-child {
  border-radius: 0rem 1rem 1rem 0rem;
  text-align: end;
}
tbody td svg {
  margin-inline: 0.15em;
  fill: var(--text-100);
}
tbody td svg.editLine:hover {
  fill: var(--system-info);
}
tbody td svg.deleteLine:hover {
  fill: var(--system-danger);
}

.pagination {
  display: flex;
  justify-content: center;
  margin-block: 0.7rem 1.3rem;
}
.pagination a {
  text-decoration: none;
  width: min-content;
  height: min-content;

  color: var(--primary-dark);
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: var(--primary-dark);
  color: white;
}
.pagination a.active:hover {
  background-color: var(--primary-dark);
}

.pagination a:hover {
  background-color: #ddd;
}
@media (max-width: 768px) {
  .contentListEmployees {
    width: 100%;
    border: none;
  }
  .headerListEmployees .userIcon {
    width: 2.875rem;
  }
  .headerListEmployees h3 {
    font-size: 2rem;
  }
  .ListEmployeesTable {
    padding-top: 0;
  }
  .headerListEmployees,
  .headerListEmployees section {
    flex-direction: column;
  }
  .headerListEmployees,
  .headerListEmployees section {
    flex-direction: column;
  }
  .headerListEmployees section {
    width: 100%;
  }
  .headerListEmployees section .searchEmployee {
    flex-basis: 0;
    width: 100%;
  }
  .headerListEmployees .divCheckboxes,
  .headerListEmployees.divRadios {
    flex-basis: 0 !important;
    width: 100%;
    justify-content: end !important;
    margin-top: 0.7rem;
  }

  .headerListEmployees .divCheckboxes .labelRadio::before {
    transform: scale(0.5);
    border-radius: 50%;
  }
  .headerListEmployees .inputRadio:checked + label:before {
    content: "\00A0";
  }

  .ListEmployees hr {
    display: none;
  }

  .ListEmployeesTable thead {
    display: none;
  }

  .ListEmployeesTable tbody tr {
    position: relative;
    display: flex;
    flex-direction: column;

    width: calc(100dvw - 89px) !important;
    overflow: hidden;
    margin-block: 9px;
  }

  .ListEmployeesTable tbody tr td {
    display: flex;

    align-items: center;
    padding: 0.3rem;
  }

  .td-icon {
    margin: 2px 0.3rem 0 0;
    min-width: 16px;
  }
  .td-icon-2 {
    margin: 0 0.3rem 0 0;
    min-width: 16px;
  }
  .td-icon-3 {
    margin: 0 0.3rem 3px 0;
    min-width: 16px;
  }

  td.td-fullName {
    border-radius: 0.9375rem 0.9375rem 0 0 !important;
    padding-left: 0.7rem !important;

    flex-wrap: nowrap;
  }
  td.td-email {
    padding-left: 0.7rem !important;
  }
  td.td-phoneNumber {
    border-radius: 0 0 0.9375rem 0.9375rem !important;
    padding-left: 0.7rem !important;
  }
  td.td-cpf {
    display: flex;
    position: absolute;
    width: 50%;
    right: 0;
    bottom: 0;
    border-radius: 0 0 0.9375rem 0 !important;

    justify-content: end;

    padding-left: 3px !important;
    padding-right: 0.7rem !important;
  }
  td.td-editLine {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 0.9375rem 0 0 !important;
    padding: 0.5rem !important;
  }
}

@media (max-width: 400px) {
  .headerListEmployees .userIcon {
    min-width: 2.5rem;
  }

  td.td-editLine {
    flex-direction: column-reverse;
    height: 100%;
    border-bottom-right-radius: 0.9375rem !important;
    justify-content: space-evenly;
    padding-left: 0.3rem !important;
  }
  td.td-phoneNumber {
    border-radius: 0 !important;
    padding-left: 0.7rem !important;
  }
  td.td-cpf {
    display: flex;
    position: static;
    width: 100%;
    border-radius: 0 0 0.9375rem 0.9375rem !important;

    justify-content: start;

    padding-left: 0.7rem !important;
    padding-right: 0 !important;
  }
  .ListEmployeesTable tbody tr {
    width: calc(100dvw - 72px) !important;
  }
}
