button {
    width: 137px;
    height: 38px;
    border-radius: 7px;
    background: var(--primary-normal);
    border: none;

    /* TEXT */

    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    cursor: pointer;
}


button.primaryNormal {
    background-color: var(--primary-normal);
    border-color: var(--primary-normal);
}
button.primaryLight {
    background-color: var(--primary-light);
    border-color: var(--primary-light);
}
button.primaryDark {
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
}

button.primaryNormal.outline {
    color: var(--primary-normal);
}
button.primaryLight.outline {
    color: var(--primary-light);
}
button.primaryDark.outline {
    color: var(--primary-dark);
}


button.secondaryNormal {
    background-color: var(--secondary-normal);
    border-color: var(--secondary-normal);
}
button.secondaryLight {
    background-color: var(--secondary-light);
    border-color: var(--secondary-light);
}
button.secondaryDark {
    background-color: var(--secondary-dark);
    border-color: var(--secondary-dark);
}

button.secondaryNormal.outline {
    color: var(--secondary-normal);
}
button.secondaryLight.outline {
    color: var(--secondary-light);
}
button.secondaryDark.outline {
    color: var(--secondary-dark);
}

button.info {
    background-color: var(--system-info);
    border-color: var(--system-info);
}
button.success {
    background-color: var(--system-success);
    border-color: var(--system-success);
}
button.warning {
    background-color: var(--system-warning);
    border-color: var(--system-warning);
}
button.danger {
    background-color: var(--system-danger);
    border-color: var(--system-danger);
}
button.inactive {
    background-color: var(--system-inactive);
    border-color: var(--system-inactive);
}

button.info.outline {
    color: var(--system-info);
}
button.success.outline {
    color: var(--system-success);
}
button.warning.outline {
    color: var(--system-warning);
}
button.danger.outline {
    color: var(--system-danger);
}
button.inactive.outline {
    color: var(--system-inactive);
}




button.outline {
    background: none !important;
    border-style: solid;
    border-width: 1px;
}



/* --------- HOVERS --------- */

button.primaryNormal:hover {
    background-color: var(--primary-normal-hover);
}
button.primaryLight:hover {
    background-color: var(--primary-light-hover);
}