.inputDescription {
  color: var(--text-100);
  text-align: left;
  /* Text */
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-block: 10px;
}
.inputFieldNoLabel {
  margin-block: 0px;
}

label.inputLabel {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  
}

input {
  padding-inline: 15px;
  padding-block: 17px;
  width: 100%;
  border-radius: 15px;
  border: 1px solid var(--primary-dark);
  outline: 0;

  /* Text */
  color: var(--text-100);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  text-align: left;
}
